
/* global settings */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{

    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    line-height: 2;

}
img{
    width: 100%;
    display: block;
}

p{
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

.grid-container{
    display: grid;

    grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, minmax(min-content,14rem))[center-end] minmax(2rem, 1fr)[full-end];

   
    
}
.grid-center{
    grid-column: center-start/center-end;
}

.grid-full{
    grid-column: full-start/full-end;
}
.center-text{
    text-align: center;
}

.m-b-s{
    margin-bottom: 2rem;
}

/* global setting end */


/* header-start */

.header-title{
    margin-top: 5rem ;
    font-size: 3.8rem;
    text-align: center;
    margin-bottom: 2rem;
}
.header-span{
    color: #037bc0
}

.navigation-container{
    border-top: 1px solid #e1e1e1;
}
.navigation ul{
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;

}


.navigation ul li a{
    text-decoration: none;
    color: #000;
    font-size: 1.7rem;
}

/* header END  */

@media (min-width: 768px){
    .navigation ul{
        flex-direction: row;
        justify-content: space-between;
    }
}


/* SECTION HERO START */

.section-hero{
    background-image: url(img/principal.jpg);
    background-size: cover;

   background-position: center;
    height: 25rem;
}

/* SECTION HERO END */



 /* CATEGORIES START  */

.categorias{
    padding: 5rem 0;
}

.categorias-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
}

.secondary-heading{
    font-size: 3.2rem;
    margin-bottom: 2rem;
    font-weight: 600;
    color: #000;

}


.btn-text:link,
.btn-text:visited{
    padding: 2rem;
    font-size: 2rem;
    display: block;
    text-decoration: none;
    color: #000;
    font-weight: 300;
    text-align: center;
    transition: all .3s ease-in-out;
}

.btn-text:hover{
    background-color: #037bc0;;
    color: white;
    border-bottom-right-radius: 1rem;
}

@media (min-width: 768px){
    .categorias-container{
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 1.5rem;
    }

    .secondary-heading{
        font-size: 4rem;
       
    
    }
}
/* CATEGORIES END */



/* NOSOTROS START */


.section-nosotros{

    background-image: linear-gradient( to bottom, transparent 50%, #037bc0 50%, #037bc0 100% ), url(../img/nosotros.jpg);
    background-position: center, top left;
    background-repeat: no-repeat;
    background-size: 100%, 70rem;
   
}

.nosotros-container{
    display: grid;
   
    grid-template-rows: repeat(2, 1fr);
}

.text-container{
    grid-row: 2 / 3;
    padding: 5rem;
    color: white;
}

.nosotros-heading{
    font-size: 3.2rem;
    color: white;
    margin-bottom: 2rem;
}

.text-container p{
    line-height: 1.9;
}

@media (min-width: 768px){
    .section-nosotros{

        background-image: linear-gradient( to right, transparent 50%, #037bc0 50%, #037bc0 100% ), url(../img/nosotros.jpg);
        background-position: left center;
        padding: 10rem 0;
        background-size: 100%, 160rem;
    }

    .nosotros-container{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 10rem;
    }

    .text-container{
        grid-column: 2/3;
    }
}


/* NOSOTROS END */

/* PRODUCTOS START */

.section-productos{
    padding-top: 5rem;
}

.productos{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
}

.producto-text{
    padding: 2rem;
    
    color: white;
    text-align: center;
    line-height: 2;
    font-size: 1.6rem;
    
}

.producto{
    background-color: #037bc0;
    
}

.producto-text h3{
    font-size: 2rem;

   
}

.precio{
    font-size: 2.8rem;
    font-weight: 900;
}

.btn{

    background-color: #8cbc00;
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out;
    text-align: center;
    border: none;
    width: 100%;
    text-decoration: none;
    font-weight: 600;

}

@media (min-width: 768px){
   .productos{

    grid-template-columns: repeat(6,1fr);
    grid-column-gap: 2rem;

      
   }

    
   .producto:nth-child(1){
    grid-column: 1/7;

    display: grid;
    grid-template-columns: 3fr 1fr;
   }

   .producto:nth-child(2){
    grid-column: 1/4;
   }

   .producto:nth-child(3){
    grid-column: 4/7;
   }

   .producto:nth-child(4){
    grid-column: 1/3;
   }

   .producto:nth-child(5){
    grid-column: 3/5;
   }

   .producto:nth-child(6){
    grid-column: 5/7;
   }

   
   .producto:nth-child(1) img{
    
    height: 48rem;
    width: 100%;
    object-fit: cover;
   }
   
}

/* PRODUCTOS END */


/* FOOTER START */

.footer{
    padding-top: 5rem;
    margin-top: 5rem;
    border-top: 1px solid #e1e1e1;
}

.footer-grid-container{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 2rem;
}

.footer-box{
    text-align: center;
    
}

.footer-heading{
    font-size: 2.4rem;
    color: #000;
    margin-bottom: 1rem;
}
.footer-nav ul{
    list-style: none;
    text-align: center;

}

.footer ul li a{
    text-decoration: none;
    color: #000;
    line-height: 2.2;
    font-size: 1.6rem;
    display: block;
}



.copyright{
    margin-top: 5rem ;
    margin-bottom: 1.6rem;
}

@media (min-width: 768px){

    
.footer-grid-container{
    
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
}

.footer-heading{
    font-size: 3rem;
    font-weight: 600;
}

.footer-box{
    text-align: left;
}
.footer-box ul{
    text-align: left;
}
   
}
/* BLOG START */


.blog-img img{
 display: block;
 width: 100%;
}

.blog-details p span{
    color: #037bc0;
   
}
.blog-content{
    padding-bottom: 4rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #e1e1e1;
}

/* galeria styles */


.blog-details p{
    margin: 1.6rem 0;
    font-weight: bold;
}

.blog-text p{
    margin: 1.6rem 0;
}

.aside ul {
    width: 50%;
    margin: 9 auto;
    list-style: none;
    margin: 0 auto;
    
}
.aside h3{
    text-align: center;
    margin-bottom: 2rem;
    font-size: 2.4rem;
}
.aside a{
    text-decoration: none;
    color: #000;
}
/* FOOTER END */

/* contacto */


.form{
    max-width:  60rem;
    margin: 0 auto;
}

.form-container{
    padding-top: 5rem;
}


.form fieldset{
    border: 1px solid rgba(0,0,0,.5);
    margin-bottom: 2rem;
    padding: 2rem;
}

.form legend{
    background-color: #005485;
    width: 100%;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    margin-bottom: 4rem;
}
.form-group{
    display: flex;
    margin-bottom: 2rem;
    
}

.form-label{
   flex-basis: 10rem;
}

.form-input{
    width: 100%;
   
    padding: 1rem;
    border: 1px solid #e1e1e1;
    
}

.btn-form{
    display: block;
    background-color: #8cbc00;
    width: 100%;
    text-transform: uppercase;
    color: white;
    padding: 1.5rem 0;
    border: none;
    border-radius: 10px;
    transition: all .3s ease;
    font-weight: 900;
    border-radius: 10px;
    letter-spacing: 1px;

}

.btn-form:hover{
    background-color: #769c02;
 
}
.galeria{
    padding-top: 5rem;
}
.galeria-container{
    display: grid;
    grid-gap: 2rem;
}
.galeria-img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

@media (min-width: 480px){

    .galeria-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}

@media (min-width: 768px){

/* FOOTER END */


    .blog-container{
        display: grid;
        grid-template-columns: 2fr 1;
        grid-column-gap: 10rem;
    }


    .aside ul{
        margin: auto;
        text-align: left;
        width: 100%;
        
    }

    .aside{
        padding-top: 10rem;
    }
    .btn-form{
        width: auto;
        padding: 1.5rem 3rem;
        
    }


    .galeria-container{
        
        grid-template-columns: repeat(3,1fr);
    }

}
/* NOSOTROS.HTML STILOS */

.nosotros-container-2{
    padding-top: 5rem;
}

.nosotros-gid-container{
    display: grid;
    grid-template-columns: 1fr;
    
}
.nosotros-img{
    width: 100%;
    display: block;
}

.nosotros-text-box{
    padding: 5rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.7rem;
}


@media (min-width: 860px){

    .nosotros-gid-container{
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
        align-items: center;
    }

    

}